// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};
$accent_bg_color: #{"@theme_selected_bg_color"};
$accent_fg_color: #{"@theme_selected_fg_color"};
$success_bg_color: var(--success-bg-color);

$box-radius: 8px;
$transition-duration: 200ms;
$popover-shade-color: var(--popover-shade-color);
$window-side-margin: 18px;
$window-vertical-margin: 20px;
$shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

button {
  transition-duration: $transition-duration;

  &.circular {
    border-radius: 999px;
  }

  label {
    color: $fg-color;
  }
}

calendar.view {
  .day-name {
    text-transform: capitalize;
  }
}

window.Bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;

  centerbox {
    background: $bg-color;
    // margin-top: $window-vertical-margin;
    box-shadow: $shadow;

    // border-radius: $box-radius;
    // margin-left: $window-side-margin;
    // margin-right: $window-side-margin;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: $window-side-margin;
    padding-right: $window-side-margin;
  }

  button {
    // border-radius: 8px;
    border: none;
  }
}

.SideWindow {
  background: transparent;

  & .Content {
    background-color: $bg-color;
  }
}

.TopWindowRadiusLeft {
  background-color: transparent;
  border-top-left-radius: 20px;
  box-shadow: -20px -10px 0 0px $bg-color;
  margin-bottom: -10px;
  border: none;
}

.TopWindowRadiusRight {
  background-color: transparent;
  border-top-right-radius: 20px;
  box-shadow: 20px -10px 0 0px $bg-color;
  margin-bottom: -10px;
  border: none;
}

.BottomWindowRadiusLeft {
  background-color: transparent;
  border-bottom-left-radius: 20px;
  box-shadow: -20px 10px 0 0px $bg-color;
  margin-top: -10px;
  border: none;
}

.BottomWindowRadiusRight {
  background-color: transparent;
  border-bottom-right-radius: 20px;
  box-shadow: 20px 10px 0 0px $bg-color;
  margin-top: -10px;
  border: none;
}

.DashboardTab {
  padding: 8px;
}

.DashboardTabHourAndMinute {
  font-size: 40px;
  font-weight: bold;
}

.DashboardTabDate {
  color: $accent_bg_color;
  font-weight: bolder;
}

.DashboardBox {
  background-color: $popover-shade-color;

  padding: 8px;
  border-radius: $box-radius;
  color: $accent_fg_color;

  &.extraPadding {
    padding-left: 16px;
    padding-right: 16px;
  }

  calendar.view {
    background-color: transparent;
    border: none;
  }
}

.DashboardTabSysInfoLabel {
  font-weight: 500;
  text-transform: capitalize;
}

.WallpaperImgButtonContainer {
  opacity: 0;
  transition: opacity $transition-duration ease-in-out;
  border-radius: 999px;
}

.WallpaperImgButtonContainer:hover {
  opacity: 1;
}

.NotificationWindow {
  background: transparent;
  margin-right: $window-side-margin;
  margin-top: 20px;
}

.NotificationWindowNotificationItem {
  background: $bg-color;
  padding: 8px 4px 8px 8px;
  border-radius: $box-radius;
}

.NotificationWindowNotificationItemSummary {
  font-weight: bold;
  font-size: 20;
}

.MediaPlayerBars {
  color: $accent_bg_color;
}

.MediaPlayerSongLabel {
  color: $accent_bg_color;
  font-weight: bold;
}

.EndeavourOsIcon {
  color: #7e3ebe;
}

.HyprLandIcon {
  color: #00e2d1;
}

.UptimeIcon {
  color: $accent_bg_color;
}

.TrayRow {
  background-color: $popover-shade-color;
  border-radius: $box-radius;
}

.Workspaces {
  background-color: $bg-color;
  border-radius: $box-radius;
}

.WorkspaceItem {
  &.group {
    background-color: $popover-shade-color;
    border-radius: 999px;
  }
}

.WorkspaceClientItem {
  border-radius: 999px;

  &.focused {
    background-color: $accent_bg_color;
    border-radius: 999px;
  }
}

.MainSearchWindow {
  background-color: transparent;
}

.MainSearch {
  background-color: $bg-color;
  padding: 8px;
  border-radius: $box-radius;
  margin-bottom: $window-vertical-margin;
  box-shadow: $shadow;
  border: 2px solid $popover-shade-color;

  &.hide {
    margin-bottom: 0;
  }

  scrolledwindow {
    background-color: $bg-color;
  }

  entry {
    margin-top: 8px;
  }

  listview {
    background-color: $bg-color;
    border-radius: $box-radius;

    row {
      border-radius: 999px;
      padding-left: 12px;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}

.unstyledMenuButton {
  button {
    all: unset;
  }
}

.LogoutPanelWindow {
  background-color: $popover-shade-color;
}

.LogoutFlowBox {
  flowboxchild {
    background-color: $bg-color;
    padding: 32px;
    transition: border-radius $transition-duration ease-in-out;

    &:selected {
      background-color: $accent_bg_color;
      color: $accent_fg_color;
      border-radius: 999px;
    }
  }
}

.LogoutPanelwindowLabel {
  font-size: 16px;
  font-weight: bold;
}

.ControlPanelActiveIcon {
  color: $accent_bg_color;
}
